@import '../variables.scss';

@font-face {
  font-family: 'Cheddar Gothic Sans';
  src: local('Cheddar Gothic Sans'), url('../../assets/fonts/CheddarGothic-Sans.otf') format('opentype');
}

/*
@font-face {
  font-family: 'Glacial Indifference Bold';
  src: local('Glacial Indifference Bold'), url('../assets/GlacialIndifference-Bold.otf') format('opentype');
}
*/
$title-font: 'Cheddar Gothic Sans';
$subtitle-font: 'Glacial Indifference';
$paragraph-font: 'PT Sans';

body.great-american-debate {
  /**
 * General site styles
 */

  font-family: $paragraph-font, sans-serif;

  background: rgb(188, 217, 240);
  background: radial-gradient(circle, rgba(188, 217, 240, 1) 0%, rgba(104, 166, 214, 1) 100%);

  .font-preloader {
    position: absolute;
    transform: translate(300vw);

    span {
      font-family: $title-font;
    }

    span:nth-child(2) {
      font-family: $subtitle-font;
    }
  }

  .page {
    height: calc(100vh - #{$top-nav-height});
    padding-bottom: $spacing-m;

    .top-container {
      flex: 0 0 auto;
      padding: 0 $spacing-m;
    }

    .bottom-container {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      min-height: 0;
      align-items: center;
      padding: 0 $spacing-m;
    }
  }

  header {
    background-color: #fff;
    box-shadow: 0px 4px 5px 0px $background-dark-blue;
  }
}
