@import './variables.scss';

$fly-in-duration: 1s;
$fade-in-duration: 1s;

.page.debates {
  text-align: center;

  .bottom-container {
    justify-content: space-around;
    align-items: stretch;
  }

  .topic-container {
    transform: translateX(100vw);
    animation-name: fly-in-right-with-shadow;
    animation-duration: $fly-in-duration;
    animation-fill-mode: forwards;
  }

  .circle-m,
  .circle-s {
    opacity: 0;
    animation-delay: $fly-in-duration;
    animation-name: fade-in-and-grow;
    animation-duration: $fade-in-duration;
    animation-fill-mode: forwards;
  }
}