@import '../styles/variables.scss';

.explore-score.circle-s.circle {
  p {
    margin: 0;

    &:first-child {
      font-size: $text-size-s;
    }
    &:nth-child(2) {
      font-size: $text-size-xxs;
    }
  }
}
