@import './variables.scss';

/*
 * Font Declarations
 */

@font-face {
  font-family: 'Glacial Indifference';
  src: local('Glacial Indifference'), url('../assets/GlacialIndifference-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Cheddar Gothic Sans';
  src: local('Cheddar Gothic Sans'), url('../assets/CheddarGothic-Sans.otf') format('opentype');
}

/*
@font-face {
  font-family: 'Glacial Indifference Bold';
  src: local('Glacial Indifference Bold'), url('../assets/GlacialIndifference-Bold.otf') format('opentype');
}
*/

.font-preloader {
  position: absolute;
  transform: translate(300vw);

  span {
    font-family: 'Cheddar Gothic Sans';
  }

  span:nth-child(2) {
    font-family: 'Glacial Indifference';

  }
}

/***************************************
 *       Global GAD Styling
 ***************************************/

/*
 * Element Overrides
 */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $paragraph-font, sans-serif;
  overflow-x: hidden;
  color: $text-color-dark;
  background: rgb(188, 217, 240);
  background: radial-gradient(circle, rgba(188, 217, 240, 1) 0%, rgba(104, 166, 214, 1) 100%);
}

a,
a span {
  color: $text-color-dark;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
  color: $text-color-dark;
  margin: $spacing-s 0;
  font-weight: 400;
  line-height: 1;

  span {
    display: block;
  }

  &.subheading {
    font-family: $subtitle-font;
    color: $text-color-light;
    font-weight: bold;
    text-transform: uppercase;
  }
}

h2 {
  letter-spacing: 0px;
}

.text-color-light {
  color: $text-color-light;
}

.text-color-dark {
  color: $text-color-dark;
}

/*
 * Typography
 */
.text-size-xxs {
  font-size: $text-size-xxs !important;
}

.text-size-xs {
  font-size: $text-size-xs !important;
}

.text-size-s {
  font-size: $text-size-s !important;
}

.text-size-m {
  font-size: $text-size-m !important;
}

.text-size-l {
  font-size: $text-size-l !important;
}

.text-size-xl {
  font-size: $text-size-xl !important;
}

/*
 * UI Element Styling
 */

.page {
  position: relative;
  height: calc(100vh - #{$top-nav-height});
  padding: 0;
  display: flex;
  min-height: 0;
  flex-direction: column;
  padding-bottom: $spacing-m;
  overflow: hidden;

  .top-container {
    flex: 0 0 auto;
    padding: 0 $spacing-m;

  }

  .bottom-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    min-height: 0;
    padding: 0 $spacing-m;
  }

  .page-cta {
    font-family: $title-font;
    font-size: $text-size-m;
    text-decoration: none;
    color: $text-color-dark;
  }
}

.scroll-list {
  position: relative;
  display: flex;
  min-height: 0;
  flex-direction: column;
  z-index: 1;
  list-style-type: none;
  margin: 0;
  padding: 16px 16px;
  overflow-y: auto;
  flex: 0 1 auto;
}

.scroll-gradient-bottom .scroll-list {
  li:last-child::after {
    content: '';
    height: 20px;
    width: 100%;
    display: inline-block;
  }
}

.scroll-gradient-top {
  &:before {
    content: '';
    width: 102%;
    left: -1%;
    height: $spacing-l;
    position: absolute;
    z-index: 100;
    top: 0;

    -webkit-box-shadow: inset 0px 10px 5px 0px rgba(149, 182, 229, 1);
    -moz-box-shadow: inset 0px 10px 5px 0px rgba(149, 182, 229, 1);
    box-shadow: inset 0px 10px 5px 0px rgba(104, 166, 214, 1);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,95b7e5+99 */
    /*background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(104, 166, 214, 1) 99%);
    /* FF3.6-15 */
    /*background: -webkit-linear-gradient(bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(104, 166, 214, 1) 75%);
    /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to top,
        rgba(255, 255, 255, 0) 0%,
        rgba(104, 166, 214, 1) 75%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}

.scroll-gradient-bottom {
  &:after {
    content: '';
    width: 102%;
    left: -1%;
    height: $spacing-xl;
    position: absolute;
    z-index: 100;
    bottom: -$spacing-m;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,95b7e5+99 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(149, 183, 229, 1) 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top,
        rgba(255, 255, 255, 0) 0%,
        rgba(104, 166, 214, 1) 75%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(104, 166, 214, 1) 75%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}

.speech-bubble {
  position: relative;
  display: inline-block;
  background-color: #fff;
  border-radius: $rounded-corner-1;
  padding: $spacing-l;

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top: 24px solid #fff;
    border-right: 36px solid transparent;
  }

  &.reversed:after {
    border-right: none;
    border-left: 36px solid transparent;
  }

  &.decorative {
    height: 120px;
    width: 140px;
  }
}

.stylized-button {
  display: inline-block;
  font-family: $subtitle-font;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: $text-color-dark;
  letter-spacing: 2px;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid $border-color;
  padding: $spacing-m;
  cursor: pointer;
}

.stylized-button-small {
  padding: $spacing-s;
}

/*
 * UI Element Style accents
 */

/* Stars */
.star {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  z-index: 10;

  margin-left: 0.9em;
  margin-right: 0.9em;
  margin-bottom: 1.2em;

  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid #fff;
  border-left: 0.3em solid transparent;

  /* Controlls the size of the stars. */
  font-size: 12px;

  &:before,
  &:after {
    content: '';

    display: block;
    width: 0;
    height: 0;

    position: absolute;
    top: 0.6em;
    left: -1em;

    border-right: 1em solid transparent;
    border-bottom: 0.7em solid #fff;
    border-left: 1em solid transparent;

    transform: rotate(-35deg);
  }

  &:after {
    transform: rotate(35deg);
  }

}

/* Bezel borders */

.bezel-xs {
  background-color: #fff;
  border-top: $spacing-xxs solid $bezel-top;
  border-left: $spacing-xxs solid $bezel-left;
  border-bottom: $spacing-xxs solid $bezel-bottom;
  border-right: $spacing-xxs solid $bezel-right;
}

.bezel-s {
  background-color: #fff;
  border-top: $spacing-xs solid $bezel-top;
  border-left: $spacing-xs solid $bezel-left;
  border-bottom: $spacing-xs solid $bezel-bottom;
  border-right: $spacing-xs solid $bezel-right;
}

.bezel-m {
  background-color: #fff;
  border-top: $spacing-s solid $bezel-top;
  border-left: $spacing-s solid $bezel-left;
  border-bottom: $spacing-s solid $bezel-bottom;
  border-right: $spacing-s solid $bezel-right;
}

.bezel-l {
  background-color: #fff;
  border-top: $spacing-m solid $bezel-top;
  border-left: $spacing-m solid $bezel-left;
  border-bottom: $spacing-m solid $bezel-bottom;
  border-right: $spacing-m solid $bezel-right;
}

/* Circles */

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  line-height: 1;
  font-family: $title-font;
  color: $text-color-light;

  p {
    margin: 0;
    align-self: center;
  }

  &:first-line {
    color: $text-color-dark;
  }

  p:nth-of-type(2) {
    margin-top: $spacing-s;
    font-size: $text-size-xs;
  }
}

.circle-l {
  width: $circle-l-diameter;
  height: $circle-l-diameter;
  padding: 10vw;
  font-size: 40px;
}

.circle-m {
  width: $circle-m-diameter;
  height: $circle-m-diameter;
  font-size: 40px;
}

.circle-s {
  width: $circle-s-diameter;
  height: $circle-s-diameter;
  font-size: 30px;
}

/* Rectangles */

.rectangle {
  background-color: #fff;
  border-radius: 8px;
}

/* drop-shadows */

.drop-shadow {
  filter: drop-shadow(3px 3px 3px $shadow-color);
}

/* Backgrounds */
.paper-background {
  position: relative;
  background: #fff;
  border-radius: 0 $rounded-corner-1 0 $rounded-corner-1;
  padding: $spacing-m $spacing-s;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 100%;
    border-top: 16px solid #dedfe0;
    border-left: 20px solid #dedfe0;
    border-right: 20px solid transparent;
    border-bottom: 16px solid transparent;
  }

  &:before {
    content: '';
    position: absolute;
    right: 5%;
    top: calc(100% + 33px);
    width: 80%;
    box-shadow: 0px 2px 10px 5px $shadow-color;
  }
}

/*
 * Animations
 */

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in-delayed {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-and-grow {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-in-and-twirl {
  0% {
    opacity: 0;
    filter: none;
    transform: rotate(-760deg);
  }

  50% {
    opacity: 1;
    filter: none;
    transform: rotate(0deg);
  }

  100% {
    opacity: 1;
    filter: none;
    filter: drop-shadow(0px 0px 3px $shadow-color);
  }
}

@keyframes fly-in-right {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(0);
  }

}

@keyframes fly-in-right-with-shadow {
  0% {
    transform: translateX(100vw);
    filter: none;
  }

  60% {
    transform: translateX(0);
    filter: none;
  }

  80% {
    transform: translateX(0);
    filter: drop-shadow(3px 3px 3px $shadow-color);
  }

  100% {
    transform: translateX(0);
    filter: drop-shadow(3px 3px 3px $shadow-color);
  }
}

@keyframes fly-in-bottom {
  0% {
    transform: translateY(100vh);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fly-in-bottom-with-shadow {
  0% {
    transform: translateY(100vh);
    filter: none;
  }

  50% {
    transform: translateY(0);
    filter: none;
  }

  100% {
    transform: translateY(0);
    filter: drop-shadow(3px 3px 3px $shadow-color);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1) translateY(0);
  }

  50% {
    transform: scale(1.5) translateY(-25%);
  }

  100% {
    transform: scale(1) translateY(0);
  }
}


@keyframes twinkle {
  0% {
    transform: scale(1) translateY(0);
  }

  40% {
    transform: scale(1) translateY(0);
  }

  50% {
    transform: scale(1.3) translateY(-25%);
  }

  60% {
    transform: scale(1) translateY(0);
  }

  100% {
    transform: scale(1) translateY(0);
  }
}