@import './variables.scss';

$map-footer-height: 32px;

.map {
  .map-container {
    transition: transform 0.4s;
    padding-bottom: $map-footer-height;
  }

  .question-list {
    position: relative;
    width: 40%;
  }

  .map-question {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-bottom: $spacing-m;
    background-color: #fff;
    border-radius: 0 $spacing-xs $spacing-xs 0;
    cursor: pointer;

    &.expanded:before {
      content: '▻';
      position: absolute;
      right: 0;
      font-weight: bold;
      font-size: $text-size-l;
      line-height: calc(#{$text-size-l});

      transform: scaleX(0.5);
    }

    div {
      display: inline-block;
      vertical-align: bottom;
    }

    .convo-count {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: $spacing-xs;
      margin: -1px 0 -1px -1px;

      p:first-child {
        font-size: $text-size-m;
        line-height: $text-size-m;
        margin: 0;
        text-align: center;
      }

      p:nth-child(2) {
        margin: 0;
      }
    }

    .map-question-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: $text-size-m;
      margin: 0 0 0 $spacing-l;
      padding-right: $spacing-m;
    }
  }

  .map-node-children,
  .question-children {
    position: absolute;
    left: 100%;
    top: 0;
    list-style-type: none;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation-name: fade-in;
    animation-delay: 0.4s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .map-node {
    position: unset;
    width: 100%;
    padding: $spacing-s $spacing-l $spacing-s $spacing-s;
    margin-bottom: $spacing-m;
    cursor: pointer;

    &.expanded {
      font-weight: bold;
    }

    &.can-expand:before {
      content: '+';
      position: absolute;
      top: $spacing-s;
      right: $spacing-s;
      font-size: $text-size-m;
      line-height: $text-size-m;
    }

    &.can-expand.expanded:before {
      content: '▻';
      position: absolute;
      right: 0;
      font-weight: bold;
      font-size: $text-size-m;
      line-height: calc(#{$text-size-m} - 3px);

      transform: scaleX(0.5);
    }
  }

  .map-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $map-footer-height;
  }
  .map-depth-selector {
    button {
      width: 25%;
      border: 1px solid $border-color;
    }
  }
}
