@import './variables.scss';

.map {

  .bottom-container {
    transition: transform 0.4s;
  }

  .question-list {
    position: relative;
    width: 50%;
  }

  .map-question {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-bottom: $spacing-m;
    background-color: #fff;
    border-radius: 0 $spacing-xs $spacing-xs 0;
    cursor: pointer;

    div {
      display: inline-block;
      vertical-align: bottom;
    }

    .convo-count {
      display: flex;
      flex-direction: column;
      justify-content: center;
      ;
      padding: $spacing-xs;

      p:first-child {
        font-size: $text-size-m;
        line-height: $text-size-m;
        margin: 0;
        text-align: center;
      }

      p:nth-child(2) {
        margin: 0;
      }
    }

    .map-question-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: $text-size-m;
      margin: 0 0 0 $spacing-l;
      padding-right: $spacing-m;
    }
  }

  .map-node-children,
  .question-children {
    position: absolute;
    left: 100%;
    top: 0;
    list-style-type: none;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .map-node {
    position: unset;
    width: 100%;
    padding: $spacing-s;
    margin-bottom: $spacing-m;
  }
}