@import './variables.scss';

.page.positions {
  .top-container {
    display: inline-block;
    vertical-align: top;
  }

  .bottom-container {
    position: relative;
  }

  .positions-container {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 0 15px;
    margin: 0 -15px;
  }

  .position {
    width: 50%;

    animation-name: fade-in-and-grow;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;

    /* nudge the first row down to leave room for the top gradient*/
    &:first-child,
    &:nth-child(2) {
      margin-top: $spacing-m;
    }

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }

    &:nth-child(4) {
      animation-delay: 0.6s;
    }

    &:nth-child(5) {
      animation-delay: 0.8s;
    }

    &:nth-child(6) {
      animation-delay: 1s;
    }
  }
}

@media only screen and (min-width: $desktop-width) {
  .page.positions {

    .positions-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-top: $spacing-m;
    }

    .position {
      display: flex;
      width: 100%;

      &:first-child,
      &:nth-child(2) {
        margin-top: 0;
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        animation-delay: 0.4s;
      }

      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        animation-delay: 0.8s;
      }

      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9) {
        animation-delay: 1.2s;
      }

      &:nth-child(10),
      &:nth-child(11),
      &:nth-child(12) {
        animation-delay: 1.6s;
      }

      &:nth-child(13),
      &:nth-child(14),
      &:nth-child(15) {
        animation-delay: 2s;
      }

      .speech-bubble {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
      }
    }
  }
}