@import './variables.scss';

.position {
  position: relative;
  display: inline-block;
  padding: calc(#{$circle-s-diameter} - #{$spacing-m}) $spacing-s 0 $spacing-s;
  margin-bottom: $spacing-xl;
  width: 25%;

  .speech-bubble {
    width: 100%;
    text-align: center;
    padding: $spacing-m;
  }

  .explore-score {
    position: absolute;
    z-index: 20;
    top: 0px;
    right: 48px;
  }

  .position-count {
    position: absolute;
    z-index: 20;
    top: 0px;
    right: 0px;
  }

  .position-count.circle-s.circle {
    p {
      margin: 0;

      &:first-child {
        font-size: $text-size-s;
      }

      &:nth-child(2) {
        font-size: $text-size-xxs;
      }
    }
  }
}

@media only screen and (min-width: $tablet-width) and (max-width: $desktop-width) {
  .position .speech-bubble {
    width: 90%;
    margin-left: 5%;
  }
}