@import './variables.scss';

$questions-fade-in-duration: 0.5s;
$questions-fly-in-duration: 2s;
$shadow-fade-in-duration: 0.5s;
$shadow-fade-in-delay: $questions-fade-in-duration+$questions-fly-in-duration;

.page.questions {


  h1 {
    max-width: 75%;
    max-height: 25%;
    margin-top: $spacing-l;
    font-size: $text-size-l;

    span:first-child {
      color: $text-color-light;
    }
  }

  .explore-score {
    position: absolute;
    top: $spacing-s;
    right: $spacing-s;
    width: 112px;
    height: 112px;
  }

  .question-list-container {
    position: relative;
    display: flex;
    min-height: 0;
    flex-direction: column;
    flex: 0 1 auto;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: $questions-fade-in-duration;
    animation-fill-mode: forwards;
  }

  .question-list {
    position: relative;
    display: flex;
    min-height: 0;
    flex-direction: column;
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: $spacing-m $spacing-m;
    overflow-y: auto;
    flex: 0 1 auto;

    li {
      position: relative;
      padding: 0px 0px $spacing-m 0px;

      font-family: $title-font;
      font-size: $text-size-s;
      z-index: 1;
      line-height: 1;

      transform: translateY(100vh);
      animation-name: fly-in-bottom;
      animation-fill-mode: forwards;
      animation-duration: $questions-fly-in-duration;
      animation-delay: $questions-fade-in-duration;

      &:last-child {
        margin-bottom: 0;
      }

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 60%;
        height: 10px;
        top: 1px;
        left: 50px;
        z-index: -10;
        box-shadow: 0px 2px 10px 5px $shadow-color;
        background-color: #fff;
        transition: transform 1s ease;
      }

      &:hover:after {
        transform: scale(1.1);
      }

      span {
        display: inline-block;
        vertical-align: top;
        background-color: #fff;
      }

      .question-number {
        position: relative;
        width: 50px;
        height: 52px;
        color: #fff;
        background-color: $accent-color-light;
        text-align: center;
        padding-top: $spacing-m;
        margin-top: -$spacing-s;

        &:after {
          content: '';
          position: absolute;
          z-index: -1;
          height: 0;
          width: 120%;
          left: -10%;
          top: 0;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-bottom: $spacing-s solid $accent-color-dark;
        }
      }

      .question {
        width: calc(100% - 50px);
        padding-left: $spacing-s;
        padding-right: 15vw;
        padding-top: $spacing-s;
      }

      .circle {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 1px;
        height: 56px;
        width: 56px;

        p {
          margin: 0;
        }

        p:nth-child(2) {
          font-size: $text-size-xxs;
          text-transform: uppercase;
        }
      }
    }
  }

  .tip {
    bottom: $spacing-m;
    margin-top: $spacing-l;
    padding: 2 * $spacing-m;
    padding-bottom: 0;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
  }
}