@import '../styles/variables.scss';

.page.reasons {
  .top-container {
    .position {
      display: inline-block;
      vertical-align: bottom;
      width: 33%;
      margin-right: 3%;
      margin-bottom: $spacing-l;
    }

    .title-block {
      display: inline-block;
      width: 63%;
      vertical-align: bottom;
    }
  }

  .reasons-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      position: relative;
      max-width: calc(50% - #{$spacing-m});
      margin-right: $spacing-s;
      margin-bottom: $spacing-s;

      .rectangle {
        height: 100%;
      }

      a {
        position: absolute;
        top: 0;
        right: 0;
      }

      h3 {
        vertical-align: bottom;

        &:first-line {
          color: $text-color-light;
        }
      }
    }
  }
}