@import '../styles/variables.scss';

.page.reasons {
  .top-container {

    h1,
    h2 {
      text-align: left;
    }

    .position {
      display: inline-block;
      vertical-align: bottom;
      width: 33%;
      margin-right: 3%;
      margin-bottom: calc(#{$spacing-l} + #{$spacing-s});

      animation-name: fade-in;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }

    .title-block {
      display: inline-block;
      width: 63%;
      vertical-align: bottom;

      transform: translateX(100vw);
      animation-name: fly-in-right;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
  }

  .reasons-list {

    padding-bottom: $spacing-l;

    li {
      position: relative;
      margin-bottom: $spacing-m;

      transform: translateY(100vh);
      animation-name: fly-in-bottom;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      animation-delay: 1s;

      .rectangle {
        height: 100%;
      }

      a {
        position: absolute;
        top: 3px;
        right: 3px;
        font-family: $title-font;
        font-size: $text-size-xxs;
      }

      h3 {
        vertical-align: bottom;

        &:first-line {
          color: $text-color-light;
        }
      }
    }
  }
}

@media only screen and (min-width: $tablet-width) and (max-width: $desktop-width) {
  .page.reasons .top-container {
    padding: 0 125px;
  }
}