@import './variables.scss';

.title-block {
  margin-top: $spacing-l;
  margin-bottom: $spacing-l;

  h1,
  h2 {
    margin: 0;
  }

  h1 {
    font-size: $text-size-xl;
    &::first-line {
      color: $text-color-light;
    }
  }

  h2 {
    text-transform: uppercase;
    font-weight: bold;
  }
}
