@import './variables.scss';

.topic-container {
  position: relative;

  a {
    text-decoration: none;
  }

  h2:first-line {
    color: $text-color-light;
  }

  .topic-title {
    position: relative;
    left: 1%;
  }

  .topic-search {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .explore-score {
    position: absolute;
    left: 200px;
    bottom: -30px;
  }

  .topic-media {
    position: absolute;
    left: 240px;
    bottom: 60px;
  }

  .topic-subdebates {
    position: absolute;
    left: 220px;
    top: 0;
  }

  .topic-help {
    position: absolute;
    top: -20px;
    left: 190px;
  }
}