@import './variables.scss';

header {
  background-color: #fff;
  box-shadow: 0px 4px 5px 0px $background-dark-blue;
}

.top-nav {
  height: $top-nav-height;
  padding: $spacing-m $spacing-m;
  max-width: $max-page-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  img {
    height: 40px;
    width: auto;
    vertical-align: bottom;
  }

  .menu-button {
    height: 100%;
  }
}

.main-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transition: transform 0.3s ease;
  background-color: #fff;

  &.hidden {
    transform: translateX(100vw);
  }

  .main-menu-header {
    padding: $spacing-xs;

    button {
      height: 100%;
      float: right;
    }
  }
}