/*
 * Shared Layout
 */

$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 32px;
$spacing-xl: 64px;

/*
 * Particular Layouts
 */
$top-nav-height: 64px;

/*
 * Colors
 */
$border-color: #d9d9d9;
$heading-color: #1c4c6c;
$shadow-color: rgba(101, 124, 201, 1);
