/*
 * Shared Layout
 */

$spacing-xxs: 2px;
$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 32px;
$spacing-xl: 64px;

$rounded-corner-1: 12px;
/*
 * Typography
 */

$title-font: 'Cheddar Gothic Sans';
$subtitle-font: 'Glacial Indifference';
$paragraph-font: 'PT Sans';

$text-size-xxs: 12px;
$text-size-xs: 16px;
$text-size-s: 24px;
$text-size-m: 32px;
$text-size-l: 48px;
$text-size-xl: 72px;

/*
 * Particular Layouts
 */

$top-nav-height: 64px;

/*
 * Colors
 */

$border-color: #d9d9d9;
$text-color-light: #1c4c6c;
$text-color-dark: #1c3749;
$shadow-color: rgba(104, 166, 214, 1);
$accent-color-light: #47ace3;
$accent-color-dark: #317072;

$background-dark-blue: rgba(104, 166, 214, 1);
$background-light-blue: rgba(188, 217, 240, 1);

$bezel-top:#eee;
$bezel-right:#ddd;
$bezel-bottom:#ccc;
$bezel-left:#e5e5e5;

/*
 *  UI Element Styling
 */

$circle-s-diameter: 15vw;
$circle-m-diameter: 30vw;
$circle-l-diameter: 70vw;